*.o
*.dSYM
*.csv
*.out
*.png
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
darknet
.fuse*
CMakeLists.txt
cmake-build-debug/
.idea/
.*.un~

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
